
:root {
    --color-background: #f2f2f7;
    --color-text: #333333;
    --color-primary: #007aff;
    --color-secondary: #8e8e93;
  }
  
  /* Utiliza una fuente adecuada */
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    /* alineamos al centro el contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
  }
  
  /* Agrega sombra a la tabla y la centramos en el body */
  table {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 800px;

  }
  thead{
    background-color: #8215ff;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Cambia la apariencia de los botones */
  .boton-primario {
    border: none;
    border-radius: 10px;
    background-color: #30f1c1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
    color: var(--color-primary);
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    transition: box-shadow 0.4s ease-in-out ;
    margin-bottom: 5px;
    transition: color 0.3s ease-in-out;
  }
  
  .boton-primario:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.14);
    color: #fdfdfd;
  }
  
  /* Cambia el estilo de la cabecera */
  .header-custom {
    background-color: #007aff;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
  }
 
  
  /* Agrega un fondo claro a las filas impares de la tabla */
  .table-striped tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  /* Agrega un fondo gris claro a las filas pares de la tabla */
  .table-striped tbody tr:nth-child(even) {
    background-color: #f2f2f7;
  }
  
  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .card {
    width: 100%;
    max-width: 860px;
    max-height: 420px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.178);
   
  }